.data-container {
    align-items: center;
    width: 100%; /* Full width of the container */
    /* Padding around the content */
  }

  .plot-container {
    width: 100%; /* Full width for the plot */
    height: auto; /* Automatic height based on the content */
  }
