

  .component-label {
    grid-column: 1 / -1; /* Span across all columns */
    font-size: 1.2em; /* Larger font size */
    font-weight: bold;
    text-align: left;
  }


  .component-control{
    grid-column: 1 / -1; /* Span across all columns */
    font-size: 1.2em; /* Larger font size */
  }
