

  .hr-divider {
   color: #006e12;
  }

  .component-wrapper {
    border: 1px solid #006e12; /* Example: 2px solid black border */
    padding: 10px;         /* Padding inside the border */
    margin: 10px;          /* Optional: Margin outside the border */
    border-radius: 10px;
  }
