/* WarningsMonitor.css */
.warnings-monitor {
  align-items: center;
  width: 100%; /* Full width of the container */
  /* Additional styles here */
}

.error-message {
  color: rgb(150, 1, 1);
  /* Other styles for error message */
}

.warning-system {
  background-color: #4c956d;
  color: rgb(0, 0, 0);
}

.warning-hardware {
  background-color: #4c956d;
  color: rgb(0, 0, 0);
}

.warning-sensordata {
  background-color: rgb(173, 19, 19);
  color: rgb(0, 0, 0);
}

.button {
  /* Styles for your button */

}
