/* WarningsMonitor.css */
.warnings-monitor {
  align-items: center;
  width: 100%; /* Full width of the container */
  /* Additional styles here */
}

.error-message {
  color: rgb(150, 1, 1);
  /* Other styles for error message */
}

.warning-system {
  background-color: #6ab178;
  color: rgb(0, 0, 0);
}

.warning-hardware {
  background-color: #ffea00c2;
  color: rgb(0, 0, 0);
}

.warning-sensordata {
  background-color: rgb(195, 88, 88);
  color: rgb(0, 0, 0);
}

.button {
  /* Styles for your button */

}
