.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', sans-serif; /* Specify a default font family for the app */
}

.header {
  height: 10%;
  background-color: #6ab178;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Larger font size for the header */
  /*font-weight: bold; /* Bold font weight for the header */
}

.main {
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 18px; /* Standard font size for main content */
}

.button {
  font-size: 20;
  width: 100%; /* Button takes full width of the container */
  font-family: 'Courier New', sans-serif; /* Specify a default font family for the app */
  ; /* Maintains aspect ratio */
  padding-top: 10px; /* Padding at the top of the button */
  padding-bottom: 10px; /* Padding at the bottom of the button */
}


input[type='range'] {
  -webkit-appearance: none; /* Override default appearance */
  width: 100%; /* Full-width */
  height: 4px; /* Thickness of the track */
  background: #ddd; /* Track color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Partial transparency */
  transition: opacity 0.2s; /* Smooth transition */
}

/* Styles for the range thumb (the slider) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #6ab178; /* Thumb color */
  cursor: pointer; /* Cursor change */
  border-radius: 50%; /* Make it circular */
}

input[type='range']::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #954c4c; /* Thumb color */
  cursor: pointer; /* Cursor change */
  border-radius: 50%; /* Make it circular */
}

select {
  font-size: 20px;
  font-family: 'Courier New', sans-serif; /* Specify a default font family for the app */
  width: 100%; /* Full-width */
  padding: 8px 12px; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  background-color: #ddd;
  color: #333; /* Text color */
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  -moz-appearance: none; /* Remove default styles for Mozilla browsers */
  appearance: none; /* Standard way to remove default styles */
  cursor: pointer; /* Change cursor to pointer */
}

/* Custom arrow indicator for dropdowns */
select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 1em;
}
