.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', sans-serif;
}

.header {
  align-items: center; /* Center content vertically */
  height: 10vh; /* 10% of the viewport height */
  background-color: #6ab178;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}



.main {
  margin-top: 10vh; /* Start main content right below the header */
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
  overflow: auto; /* Add scrolling to the main content */
}


.components-wrapper {
  display: grid;
  gap: 10px; /* Space between rows */
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: auto; /* Centering the grid */

}

.component-wrapper {
  font-size: 20px;
  border: 1px solid #006e12; /* Example: 2px solid black border */
  padding: 10px;         /* Padding inside the border */
  margin: 10px;          /* Optional: Margin outside the border */
  border-radius: 10px;
}

.component-row {
  padding-top: 10px; /* Padding at the top of each row */
  padding-bottom: 10px; /* Padding at the bottom of each row */
  padding-left: 10px; /* Padding at the bottom of each row */
  padding-right: 10px; /* Padding at the bottom of each row */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  align-items: center; /* Vertically aligns items in the center */
}

.error-message {
  color: rgb(150, 1, 1);
  /* Other styles for error message */
}

.hr-divider {
  color: #006e12;

 }

 .value-true {
  color: green;
}

.value-false {
  color: red;
}



.button {
  font-size: 20px;
  font-family: 'Courier New', sans-serif; /* Specify a default font family for the app */
  width: 100%; /* Full-width */
  border: 1px solid #ccc; /* Border */
  border-radius: 10px; /* Rounded corners */
  background-color: #ddd;
  color: #333; /* Text color */
  padding-top: 10px; /* Padding at the top of the button */
  padding-bottom: 10px; /* Padding at the bottom of the button */
}


input[type='range'] {
  -webkit-appearance: none; /* Override default appearance */
  width: 100%; /* Full-width */
  height: 4px; /* Thickness of the track */
  background: #ddd; /* Track color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Partial transparency */
  transition: opacity 0.2s; /* Smooth transition */
}

/* Styles for the range thumb (the slider) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #6ab178; /* Thumb color */
  cursor: pointer; /* Cursor change */
  border-radius: 50%; /* Make it circular */
}

input[type='range']::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #954c4c; /* Thumb color */
  cursor: pointer; /* Cursor change */
  border-radius: 50%; /* Make it circular */
}

select {
  font-size: 20px;
  font-family: 'Courier New', sans-serif; /* Specify a default font family for the app */
  width: 100%; /* Full-width */
  padding-top: 10px; /* Padding at the top of the button */
  padding-bottom: 10px; /* Padding at the bottom of the button */
  border: 1px solid #ccc; /* Border */
  border-radius: 10px; /* Rounded corners */
  background-color: #ddd;
  color: #333; /* Text color */
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  -moz-appearance: none; /* Remove default styles for Mozilla browsers */
  appearance: none; /* Standard way to remove default styles */
  cursor: pointer; /* Change cursor to pointer */
}

/* Custom arrow indicator for dropdowns */
select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 1em;
}
