.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 10%;
  background-color: #6ab178;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
}
