.header {
  display: flex;
  align-items: left;
  height: 10%;
}

.logo {
  height: 100%;
  width: auto;
  border-radius: 50%; /* Make the image round */
  object-fit: cover; /* Ensure the image covers the area */
}

.dropdown {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #6ab178;
  border-radius: 4px;
}

.dropdown option {
  padding: 8px;
}
