/* Video.css */

.image-container {
    width: 100%; /* Ensures the container takes up the full width */
    padding-top: 60px; /* Adjust this value to match the height of your header */
    position: relative; /* Position relative to allow absolute positioning inside */
}

.image-wrapper {
    width: 100%; /* Image wrapper takes full width of the container */
    position: absolute; /* Positioned absolutely within container */
    top: 0; /* Aligns top of the image wrapper with the top of the container */
}

.image-wrapper img {
    width: 100%; /* Image takes full width of the wrapper */
    height: auto; /* Maintains aspect ratio */
    padding-top: 20;
    top: 10; /* Aligns top of the image wrapper with the top of the container */
}
