.monitor {
  margin: 20px;
}



.value-true {
  color: green;
}

.value-false {
  color: red;
}


.display-container {
  display: grid;
  gap: 10px; /* Space between rows */
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: auto; /* Centering the grid */

}
