.monitor {
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; /* Ensures fixed column widths */
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  width: 50%; /* Set each column to take 50% of the table width */
}

th {
  background-color: #f2f2f2;
}

.value-true {
  color: green;
}

.value-false {
  color: red;
}
